{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-10 text-center">
      <p><img alt="passkey icon" src="avatar.png" class="circle-avatar" width="40%"/></p>
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/about/" role="button">{{ i18n "get_started" }}</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Why I write the Blog</h2>
          <p>Just want to share my experience and some feelings, and hope it can help others</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">What you can find</h2>
          <p>Docs cover my insights on databases, AI, and distributed systems, and the blog shares my daily experiences and thoughts.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Communication</h2>
          <p>Want to discuss something with me? Start a topic in <a href="https://github.com/Dmaner/blogs/discussions">Discussions!</a></p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get_started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
