// Put your custom SCSS code here
.circle-avatar {
  border-radius: 50%; /* 将图片裁剪为圆形 */
  display: block; /* 确保图片是块级元素 */
  margin: 0 auto; /* 居中显示 */
  width: 25%; /* 保持图片宽度为 20% */
  aspect-ratio: 1 / 1; /* 保持图片为正方形 */
  object-fit: cover; /* 确保图片填充整个圆形区域 */
}

/* 小屏幕设备（如手机） */
@media (max-width: 768px) {
  .circle-avatar {
    width: 40%; /* 在小屏幕上增加宽度 */
    max-width: 150px; /* 调整最大宽度 */
  }
}

.img-lightmode.border {
  border: 1px solid $gray-200 !important;
}

.img-darkmode.border {
  border: 1px solid var(--sl-color-gray-6) !important;
}

/* 直接作用于所有图片 */
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}